<!DOCTYPE html>
<html>
<head>
  <title>ARA RSS by GoN</title>
  <%= stylesheet_link_tag    "application", controller_name, :media => "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
